// FONTS
$font-alfa: 'Alfa Slab One', cursive;
$font-grape: 'Grape Nuts', cursive;
$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-glitch: 'Rubik Glitch', cursive;
$font-montserrat: 'Montserrat', sans-serif;